body {
   height: 100%;
   width: 100%;
}

#test {
   height: 90%;
   width: 90%;
   /* background-color: black; */
}

.images {
   height: 200px;
   width: 200px;
   display: inline-block;
   padding: 8px;
   margin: 5px;
   transition: 300ms;
}

.images:hover {
   transform: scale(1.1,1.1);
   box-shadow: 5px 10px 18px #888888;
}